* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cards-color: rgb(53, 53, 53);
@mixin button-hero {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}


.nav {
    width: auto;

    &__list {
        display: flex;
    }
    
    &__item {
        list-style-type: none;
        flex: 1;        
        text-align: center;
        background-color: black;
    }

    
    &__link {
        text-decoration: none;
        display: block;
        padding: 17px 0;   
        background-color: black;  
        font-size: 21px;
        color: white;
        letter-spacing: 2px;
        
        &:hover {
            background-color: rgb(49, 49, 49);
        }
    }
}
    



.hero {

    &__image {
        width: 100%;
        height: 100vh;
        opacity: 0.6;
    }


    &__header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding: 5px 10px;
        color: white;
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        width: fit-content;
    }

    &__buttons {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        margin: 25px 0;
    }

    &__btn {
        padding: 15px 30px;
        margin: 0 10px;
        border: none;
        font-size: 18px;
        border-radius: 7px;
    }        
    
    &__btn--active {
        @include button-hero();
    }

    &__btn--inactive {
        &:hover {
            @include button-hero();
            padding-left: 28px;
        }
    }
    
}

.wrapper {
    padding: 15px 25px 0 25px;
    font-size: 19px;   
  
    .section__header {
        text-align: center;
        font-size: 35px;
        font-weight: 650;
        padding: 30px 0;
        font-family: Tahoma;
    }

    .horizontal-line {
        margin: 30px;
    }

    .section-bottom {

        &__header {
            font-size: 35px;
            margin-bottom: 20px;
        }

        &__text {
            margin: 30px 0;
        }

        &__list {
            list-style-type: none;
            display: flex;
            margin: 30px 0;
            text-align: center;
        }
    
        &__item {
                flex: 1;
                font-size: 15px;
        }
    
        &__image {
            width: 220px;
            height: 200px;
        }    
    }

    .article__image{
        background-image: url('../Img/gym.png');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .article-deck {

        &__header{
            position: relative;
            text-align: center;
            font-size: 45px;
            font-weight: 700;
            color: $cards-color;
            padding: 20px 0;
        }
    
        &__cards {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
    
            .card {
                display: flex;
                flex-direction: column;
                margin: 30px 7px 0 7px;
                position: relative;
                overflow: hidden;
                background-color: white;
                border-radius: 7px;
                
                &__inner {
                    flex: 1 1 250px;
                }
                    
                &--stiched {
                    z-index: 10;
                    margin-top: 10px;
                    padding-top: 7px;
                    width: 280px;
                    height: 42px;
                    font-size: 25px;
                    text-align: center;
                    color: #fff;
                    box-shadow: 0px 2px 5px #888888;
                    background: $cards-color;
                    transform: rotate(-25deg);
                    position: absolute;
                    left: -95px;
                    top: 0;
                }
                        
                &__inner--description {
                    margin: 100px 0 20px 0;
                    text-align: center;
                }

                &__text {
                    span {
                        color: $cards-color;
                        font-weight: 700;
                        margin-right: 10px
                    }
                }

                &--bottom {
                    padding: 30px;
                    background-color: $cards-color;
                    color: white;
                }

                &__header{
                    margin-top: 50px;
                }

                &__span-bot {
                    font-size: 55px;
                }

                &__link {
                    padding: 10px 15px;
                    display: block;
                    width: 150px;
                    color: $cards-color;
                    background-color: white;
                    border-radius: 10px;
                    text-decoration: none;
                    text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                    margin: 0 auto;
                    margin-top: 20px;

                    &:hover {
                        background-color: $cards-color;
                        color: white;
                        border: 2px solid white;
                    }
                }
            }
        }
    }
}

    // Footer

.footer {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    background-color: black;
    color: white;

    &__section {
       flex: 1;
    }

    &--right {
        text-align: center;
        display: flex;
        align-items: center;
    }
        
    &__text {
        flex: 1;
        text-align: right;
        font-size: 22px;
        margin-right: 10px;
    }

    &__icons {
        flex: 1;
        text-align: left;
    }

    .media-icons {
        
        .fa {
            font-size: 25px;
            background-color: black;
            color: white;
            margin: 5px;

            &:hover{
                color: rgb(119, 119, 119);
            }
        }
    }
}
    
