* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: auto;
}
.nav__list {
  display: flex;
}
.nav__item {
  list-style-type: none;
  flex: 1;
  text-align: center;
  background-color: #000;
}
.nav__link {
  text-decoration: none;
  display: block;
  padding: 17px 0;
  background-color: #000;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
}
.nav__link:hover {
  background-color: #313131;
}

.hero__image {
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}
.hero__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 5px 10px;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hero__buttons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  margin: 25px 0;
}
.hero__btn {
  padding: 15px 30px;
  margin: 0 10px;
  border: none;
  font-size: 1.2rem;
  border-radius: 7px;
}
.hero__btn--active {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.hero__btn--inactive:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding-left: 28px;
}

.wrapper {
  padding: 15px 25px 0 25px;
  font-size: 1.2rem;
}
.wrapper .section__header {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 650;
  padding: 30px 0;
  font-family: Tahoma;
}
.wrapper .horizontal-line {
  margin: 30px;
}
.wrapper .section-bottom__header {
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.wrapper .section-bottom__text {
  margin: 30px 0;
}
.wrapper .section-bottom__list {
  list-style-type: none;
  display: flex;
  margin: 30px 0;
  text-align: center;
}
.wrapper .section-bottom__item {
  flex: 1;
  font-size: 1rem;
}
.wrapper .section-bottom__image {
  width: 220px;
  height: 200px;
}

.article__image {
  background-image: url("../Img/gym.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-deck__header {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #353535;
  padding: 20px 0;
}
.article-deck__cards {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.article-deck__cards .card {
  display: flex;
  flex-direction: column;
  margin: 30px 7px 0 7px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 7px;
}
.article-deck__cards .card__inner {
  flex: 1 1 250px;
}
.article-deck__cards .card--stiched {
  z-index: 10;
  margin-top: 10px;
  padding-top: 7px;
  width: 280px;
  height: 42px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  box-shadow: 0px 2px 5px #888888;
  background: #353535;
  transform: rotate(-25deg);
  position: absolute;
  left: -95px;
  top: 0;
}
.article-deck__cards .card__inner--description {
  margin: 100px 0 20px 0;
  text-align: center;
}
.article-deck__cards .card__text span {
  color: #353535;
  font-weight: 700;
  margin-right: 10px;
}
.article-deck__cards .card--bottom {
  padding: 30px;
  background-color: #353535;
  color: white;
}
.article-deck__cards .card__header {
  margin-top: 50px;
}
.article-deck__cards .card__span-bot {
  font-size: 3rem;
}
.article-deck__cards .card__link {
  padding: 10px 15px;
  display: block;
  width: 150px;
  color: #353535;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 20px;
}
.article-deck__cards .card__link:hover {
  background-color: #353535;
  color: white;
  border: 2px solid white;
}

.footer {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  background-color: black;
  color: white;
}
.footer__section {
  flex: 1;
}
.footer--right {
  text-align: center;
  display: flex;
  align-items: center;
}
.footer__text {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
  margin-right: 10px;
}
.footer__icons {
  flex: 1;
  text-align: left;
}
.footer .media-icons {
  text-decoration: none;
}
.footer .media-icons .fa {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin: 5px;
}
.footer .media-icons .fa:hover {
  color: #777777;
}