* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'variables/variables';
@import 'variables/mixins';


@import 'layout/nav';
@import 'layout/hero';
@import 'layout/cards';
@import 'layout/section';
@import 'layout/footer';






    

